.product {
    width:20%;
}

.product img {
    margin-left: 70px;
    margin-right: auto;
    width:200px;
    height:200px;
    margin-top: 40px;
}
.product h6 {
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
}
@media only screen and (max-width: 600px) {
    .product {
        height:auto;
        width:250px;
    }
    .product img {
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }
    .product h6 {
        font-size: 12px;
        text-align: center;
        padding-top: 25px;
    }
}